/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
	font-size: 16px;
}

body{
	background-color: #ABE188;
}

header{
	background-color: #F78E69;
	background-size: cover; 
	background-position: center; 
	padding: 80px 30px;  	
	text-align: right;	
	color: white;
}

h1{
	font-size: 50px;
}

.texto{
	border: none;
	margin: 30px 400px;
	padding: 20px;
	color: white;
	text-align: center;
	background-color: #F78E69
}

.about{
	font-size: 20px;
	font-weight: bolder;
}

.pictures{
	text-align: center;
	color: white;
	font-size: 30px;
}
.cuatro-pandas{
 	border: 10px solid white;
 	margin: 0 10px;
 	display: inline;
 	text-align: center;
 }

footer{
	padding: 10px;
	text-align: right;	
	color: white;	
	font-weight: 400;
	background-color: #F78E69
 }